# Ignore caches
bundle/cache

# Ignore fish variables
fish/fish_variables

# Ignore Postgres history and passwords
psql/history
psql/pgpass

# Ignore OrbStack
fish/completions/kubectl.fish
fish/completions/orbctl.fish

# Ignore tmux
tmux/plugins/*
!tmux/plugins/tpm

# Ignore Zed
zed/prompts

# Ignore VIM
vim/autoload/plug.vim
vim/plugged/*
nvim/plugged/*
