# Ignore local brew skip list
.brew-skip

# Ignore caches
bundle/cache

# Ignore fish variables
fish/fish_variables
fish/conf.d/secrets.local.fish

# Ignore Postgres history and passwords
psql/history
psql/pgpass

# Ignore OrbStack
fish/completions/docker.fish
fish/completions/kubectl.fish
fish/completions/orbctl.fish

# Ignore tmux
tmux/plugins/*
!tmux/plugins/tpm

# Ignore zed
zed/prompts
zed/themes
