shopt -s expand_aliases

# Bundler
alias bi="bundle install"
alias bl="bundle list"
alias bu="bundle update"
alias be="bundle exec"
alias br="bundle exec gem remove"

# Misc
alias c="clear"
alias dcl=docker-cleanup
alias vim="nvim"

{{ if eq .chezmoi.os "darwin" -}}

{{ else if eq .chezmoi.os "linux" -}}
alias audio-reset="pulseaudio -k && sudo alsa force-reload"
alias dns-flush="sudo systemd-resolve --flush-caches"
{{ end -}}

# Redis
alias rd-up=redis-up
alias rd-down=redis-down

# Tmux
alias txj=tmux-join
alias txl="tmux ls"
alias txk=tmux-kill
