shopt -s expand_aliases

#===============================================================
# Variables
#===============================================================
WARNING="\033[1;33m"
RESET="\033[m"

export CLICOLOR=1
export EDITOR=nvim
export FZF_DEFAULT_COMMAND='rg --files --hidden --follow -g !.git'
export FZF_DEFAULT_OPTS="--preview='batcat --color=always --theme=OneHalfLight {}'"
export LANG=en_US.UTF-8
export LC_ALL=en_US.UTF-8
export ZK_NOTEBOOK_DIR=$HOME/Documents/Notes

# Save iex history
export ERL_AFLAGS="-kernel shell_history enabled -kernel shell_history_path '\"$HOME/.iex_history\"'"

#===============================================================
# Functions
#===============================================================
docker-cleanup() {
  docker ps -a | grep "Exit\|Created" | awk '{print $1}' | xargs docker rm
  docker images | grep "none" | awk '{print $3}' | xargs docker rmi
}

parse_git_dirty () {
  if [[ $(git status 2> /dev/null | tail -n1 | cut -c 1-17) != "nothing to commit" ]]; then
    echo "✗"
  else
    echo "ツ"
  fi
}

parse_git_branch () {
  git branch --no-color 2> /dev/null | sed -e '/^[^*]/d' -e "s/* \(.*\)/\1 $(parse_git_dirty)/"
}

redis-up() {
  local app_name=$1
  local cont_name="redis-${app_name}"
  local socket_file="/tmp/redis/${app_name}.sock"

  mkdir -p /tmp/redis
  chmod 777 /tmp/redis
  echo "Redis: starting ${app_name} on ${socket_file} in ${cont_name} container."

  docker run \
    --name "${cont_name}" \
    -v "/tmp/redis:/tmp/redis" \
    -d redis \
    redis-server --port 0 --unixsocket "${socket_file}" --unixsocketperm 777
}

redis-down() {
  docker stop $cont_name
  docker rm $cont_name
}

tmux-join() {
  tmux attach-session -dt $1
}

tmux-kill() {
  tmux kill-session -t $1
}

#===============================================================
# Components
#===============================================================
{{ if eq .chezmoi.os "darwin" -}}
if [ -x "$(command -v asdf)" ]; then
  . $(brew --prefix asdf)/libexec/asdf.sh
fi
{{ else if eq .chezmoi.os "linux" -}}
if [ -d "$HOME/.asdf" ]; then
  . $HOME/.asdf/asdf.sh
fi
{{ end -}}

#===============================================================
# Completions
#===============================================================
{{ if eq .chezmoi.os "darwin" -}}
if [ -d $(brew --prefix)/etc/bash_completion.d ]; then
  for f in $(brew --prefix)/etc/bash_completion.d/*.{bash,sh}; do source $f; done
fi
{{ else if eq .chezmoi.os "linux" -}}
if [ -d "$HOME/.asdf" ]; then
  . $HOME/.asdf/completions/asdf.bash
fi
{{ end -}}

#===============================================================
# Customization
#===============================================================
if [ -f "$HOME/.bash_aliases" ]; then
  source "$HOME/.bash_aliases"
fi

PS1="\u in \w\$([[ -n \$(git branch 2> /dev/null) ]] && echo \" on \")\[$WARNING\]\$(parse_git_branch)\[$RESET\]\n\$ "
