{{ if eq .chezmoi.os "darwin" -}}
#!/usr/bin/env bash

brew tap homebrew/cask
brew tap homebrew/cask-fonts
brew tap buo/cask-upgrade
brew tap petere/postgresql
brew tap uptech/oss

brew update
brew upgrade
brew cu -a -y

brew install -q alt
brew install -q asdf
brew install -q bash
brew install -q erlang
brew install -q git
brew install -q openssh
brew install -q postgresql-common
brew install -q ripgrep
brew install -q tig
brew install -q tmux

brew install --cask -q cryptomator
brew install --cask -q font-fira-code-nerd-font
brew install --cask -q spotify
brew install --cask -q vlc

asdf plugin add elixir || true
asdf plugin add golang || true
asdf plugin add nodejs || true
asdf plugin add ruby || true
{{ else if eq .chezmoi.os "linux" -}}
#!/usr/bin/env bash
if [ ! -d "$HOME/.asdf" ]; then
  git clone https://github.com/asdf-vm/asdf.git $HOME/.asdf
fi

(cd $HOME/.asdf && git pull origin master)
(cd $HOME/.asdf && asdf plugin add elixir)
(cd $HOME/.asdf && asdf plugin add golang)
(cd $HOME/.asdf && asdf plugin add nodejs)
(cd $HOME/.asdf && asdf plugin add ruby)
{{ end -}}
